In [115]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import metrics
from scipy.spatial.distance import cdist
from sklearn import preprocessing as prep
import seaborn as sns

In [ ]:
red = pd.read_excel('../Data/winequality-red.xlsx', skiprows=1)
white = pd.read_excel('../Data/winequality-white.xlsx', skiprows=1)

In [ ]:
red.shape

In [ ]:
red.sample(10)

In [ ]:
red.head()

In [ ]:
#check for missing values
red.isnull().sum()

In [ ]:
#check for duplicates
red.duplicated().sum()

In [ ]:
red.drop_duplicates()

In [ ]:
red.shape

In [ ]:
red.columns

In [ ]:
red.dtypes

In [ ]:
white.shape

In [ ]:
white.sample(10)

In [ ]:
white.head()

In [ ]:
white.isnull().sum()

In [ ]:
white.duplicated().sum()

In [ ]:
white.drop_duplicates()

In [ ]:
white.shape

In [ ]:
white.columns

In [ ]:
white.dtypes

In [106]:
red["type"] = "red"
white["type"] = "white"

wine_df = pd.concat([red, white], ignore_index=True)

In [107]:
wine_df["type"] = wine_df["type"].map({"red": 0, "white": 1})

In [108]:
wine_df_clean = wine_df.drop_duplicates()
wine_df_clean.duplicated().sum()

np.int64(0)

In [109]:
wine_df_clean.shape

(5320, 13)

In [110]:
wine_df_clean.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
503,10.5,0.260,0.47,1.90,0.078,6.0,24.0,0.99760,3.18,1.04,10.9,7,0
6057,6.6,0.350,0.26,2.70,0.045,19.0,129.0,0.98952,3.24,0.48,13.0,7,1
4381,7.1,0.200,0.31,6.85,0.053,32.0,211.0,0.99587,3.31,0.59,10.4,6,1
490,9.3,0.775,0.27,2.80,0.078,24.0,56.0,0.99840,3.31,0.67,10.6,6,0
1115,7.0,0.690,0.07,2.50,0.091,15.0,21.0,0.99572,3.38,0.60,11.3,6,0
3449,7.1,0.250,0.25,1.60,0.046,50.0,181.0,0.99250,3.20,0.42,11.0,7,1
2360,7.0,0.200,0.38,8.10,0.050,42.0,173.0,0.99585,3.30,0.54,9.8,6,1
3976,7.0,0.220,0.29,8.90,0.050,24.0,90.0,0.99556,3.29,0.46,9.8,6,1
3102,6.8,0.360,0.24,4.60,0.039,24.0,124.0,0.99090,3.27,0.34,12.6,7,1
6223,6.4,0.400,0.25,4.20,0.032,15.0,91.0,0.98988,3.26,0.52,13.1,6,1

In [ ]:
#step 6
wine_df_clean.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
count,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000,5320.000000
mean,7.215179,0.344130,0.318494,5.048477,0.056690,30.036654,114.109023,0.994535,3.224664,0.533357,10.549241,5.795677,0.744549
std,1.319671,0.168248,0.147157,4.500180,0.036863,17.805045,56.774223,0.002966,0.160379,0.149743,1.185933,0.879772,0.436155
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000,0.000000
25%,6.400000,0.230000,0.240000,1.800000,0.038000,16.000000,74.000000,0.992200,3.110000,0.430000,9.500000,5.000000,0.000000
50%,7.000000,0.300000,0.310000,2.700000,0.047000,28.000000,116.000000,0.994650,3.210000,0.510000,10.400000,6.000000,1.000000
75%,7.700000,0.410000,0.400000,7.500000,0.066000,41.000000,153.250000,0.996770,3.330000,0.600000,11.400000,6.000000,1.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000,1.000000

In [112]:
wine_df_clean.skew()

fixed acidity           1.650417
volatile acidity        1.504557
citric acid             0.484309
residual sugar          1.706550
chlorides               5.338237
free sulfur dioxide     1.362719
total sulfur dioxide    0.063614
density                 0.666326
pH                      0.389969
sulphates               1.809454
alcohol                 0.545696
quality                 0.147467
type                   -1.121806
dtype: float64

make a diagram (histogram (sns.histplot), box plot (sns.boxplot), Pair plots(sns.pairplot))
What is skewness?
A perfectly normal distribution (like the bell curve) has skewness = 0.

Skewness > 0 → The distribution is right-skewed (long tail on the right)

Skewness < 0 → The distribution is left-skewed (long tail on the left)

📈 Visuals of skewness:
Type	Shape	Skewness
Normal	Symmetrical bell curve	0
Right-skewed	Long tail to the right	> 0
Left-skewed	Long tail to the left	< 0

In [ ]:
#code block for diagrams

<function seaborn.distributions.histplot(data=None, *, x=None, y=None, hue=None, weights=None, stat='count', bins='auto', binwidth=None, binrange=None, discrete=None, cumulative=False, common_bins=True, common_norm=True, multiple='layer', element='bars', fill=True, shrink=1, kde=False, kde_kws=None, line_kws=None, thresh=0, pthresh=None, pmax=None, cbar=False, cbar_ax=None, cbar_kws=None, palette=None, hue_order=None, hue_norm=None, color=None, log_scale=None, legend=True, ax=None, **kwargs)>